<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
    <h1>Cadastrar Novo Usuário</h1>

    <form method="POST">
        <label>Nome:</label><br>
        <input type="text" name="nome" required><br><br>

        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Tipo:</label><br>
        <select name="tipo" required>
            <option value="Admin">Admin</option>
            <option value="Comum">Comum</option>
        </select><br><br>

        <label>Status:</label><br>
        <select name="status" required>
            <option value="Ativo">Ativo</option>
            <option value="Inativo">Inativo</option>
        </select><br><br>

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
