<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Editar Usuário</h1>

    <form method="POST">
        <label>Nome:</label><br>
        <input type="text" name="nome" value="{{ usuario[1] }}" required><br><br>

        <label>Email:</label><br>
        <input type="email" name="email" value="{{ usuario[2] }}" required><br><br>

        <label>Tipo:</label><br>
        <select name="tipo" required>
            <option value="Admin" {% if usuario[3] == 'Admin' %}selected{% endif %}>Admin</option>
            <option value="Comum" {% if usuario[3] == 'Comum' %}selected{% endif %}>Comum</option>
        </select><br><br>

        <label>Status:</label><br>
        <select name="status" required>
            <option value="Ativo" {% if usuario[4] == 'Ativo' %}selected{% endif %}>Ativo</option>
            <option value="Inativo" {% if usuario[4] == 'Inativo' %}selected{% endif %}>Inativo</option>
        </select><br><br>

        <button type="submit">Salvar alterações</button>
    </form>
</body>
</html>
