<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Sistema de Cadastro de Usuários</h1>

    <p><a href="/cadastrar">+ Cadastrar novo usuário</a></p>

    {% if usuarios %}
        <table border="1" cellpadding="10">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Tipo</th>
                <th>Status</th>
            </tr>
          <tr>
            <th>Ações</th>
    <td>{{ usuario[0] }}</td>
    <td>{{ usuario[1] }}</td>
    <td>{{ usuario[2] }}</td>
    <td>{{ usuario[3] }}</td>
    <td>{{ usuario[4] }}</td>
    <td>
        <a href="/editar/{{ usuario[0] }}">Editar</a> |
        <a href="/excluir/{{ usuario[0] }}" onclick="return confirm('Tem certeza que deseja excluir este usuário?')">Excluir</a>
    </td>
</tr>

        </table>
    {% else %}
        <p>Nenhum usuário cadastrado ainda.</p>
    {% endif %}
</body>
</html>

